/* Global */
*{
    margin: 0;
    padding: 0;
}

:root{
    --red-color: #DC3545;
    --red-light-color: #da5764;
}


/* Nav Bar */
.nav-title{
    color: white !important;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: clamp(1.2rem, 1.5vw, 1rem);
}

.nav-title:hover{
    color: var(--red-color) !important;
    transform: translateY(-2px);
    transition: transform 0.2s ease;
}


/* Main */
.app-title{
    font-weight: 400;
    color: var(--red-color);
    font-family: sans-serif;
    border: 2px solid var(--red-color);
    border-radius: 5px;
    padding: 10px;
}

.app-title:hover{
    cursor: pointer;
    display: inline-block;
    color: white;
    background-color: var(--red-color);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    cursor: default;
}

.fixed-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 25px;
}

.title-url{
    text-decoration: none;
}

/* Collapsible body shows up to 250px by default */
.collapsible-body {
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

/* When expanded, remove the height limit */
.collapsible-body.expanded {
    max-height: none;
}

.post-body{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 500px;
}

#card-read-more{
    text-decoration: none;
    font-weight: 400;
}

#card-read-more:hover{
    text-decoration: none;
    transform: translateY(-2px);
    transition: transform 0.1s ease;
}

/* Animations */
.animate-slide-up:hover{
    display: inline-block;
    transform: translateY(-2px);
    transition: transform 0.2s ease;
}

/* Fix for Footer */
.result{
    min-height: 80vh;
}

.result >h5{
    color: var(--red-color);
}

.footer > *{
    color: white;
}

footer > div > p > a{
    color: var(--red-light-color);
    text-decoration: none;
}

footer>div>p>a>strong:hover{
    color: var(--red-color);
}